@page
@model BackSpotGay.Views.Home.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="~/css/stile.css">
        <link rel="icon" href="~/image/spot-a-gay.svg">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <title>Spot-a-gay</title>
    </head>
    <body>  
    <div class="newspaper">
        <div class="new">
            <p style="text-align: center;"><img src="~/image/gg.jpg" alt="" width="300" height="300" /></p>
            <p></p>
        </div>
        <div class="new">
            <p style="text-align: center;"><img src="~/image/gg.jpg" alt="" width="300" height="300" /></p>
            <p>2</p>
        </div>
    </div>
   
    </body>
</html>